<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/alert_mail_simple}">

    <div layout:fragment="heading">
        <span th:text="'Dear '+${event.user}">
            Dear Boniface Chacha
        </span>
        <br>
        <span th:text="'A submitted '+${tracker.type} +' request by '+${tracker.creator}+ ' which you'+${event.approved?'approved':'declined'}+' has been cancelled'">
            Your request is cancelled
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ is cancelled</span>
    </div>
</div>