<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/action_mail_simple}">

    <div layout:fragment="heading">
        <span th:text="'Dear '+${tracker.creator}">
            Dear Boniface Chacha
        </span>
        <br/>
        <span th:text="
        'We have submitted your '
        + ${tracker.type}
        + ' request. We will notify you when the approval process is complete.'">
            We have submitted your request
        </span>
    </div>

    <div layout:fragment="message">
        <br/>
        <span th:text="${tracker.description}">Your request XYZ</span>
    </div>
</div>