<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org"
     th:with="allocationService=${applicationContext.getBean('allocationService')}">

    <div class="row">
        <div class="col-xs-6">
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td th:text="${allocation.id}">12345</td>
                </tr>
                <tr>
                    <td>Budget</td>
                    <td th:text="${allocation.budget}">Pivotech Construction Project</td>
                </tr>

                <tr>
                    <td>Role</td>
                    <td th:text="${allocation.role}">P&amp;E Project Admin</td>
                </tr>
                <tr>
                    <td>Resource</td>
                    <td th:text="${allocation.resource}">Transport</td>
                </tr>
                <tr>
                    <td>Proposed</td>
                    <td th:text="${allocation.proposedAmount}">2300000.00</td>
                </tr>
                <tr>
                    <td>Allocated</td>
                    <td th:text="${allocation.allocatedAmount}">2300000.00</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-6">
         <span>
             <i th:text="${allocation.description}" class="long-text">
                FTP is generally more secure when users are restricted to a specific directory.vsftpd accomplishes this with chroot jails. When chroot is enabled for local users, they are restricted to their home directory by default. However, because of the way vsftpd secures the directory, it must not be writable by the user. This is fine for a new user who should only connect via FTP, but an existing user may need to write to their home folder if they also shell access.
             </i>
        </span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="center underlined">Change history</h3>
            <table class="table table-bordered table-condensed table-responsive">
                <tbody>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Reason</th>
                </tr>
                <th:block th:each="change:${allocationService.getChanges(allocation)}">
                    <tr>
                        <td th:text="${change.timeCreated}" class="no-word-wrap">21-11-2017 13:26:10</td>
                        <td th:text="${change.user}" class="no-word-wrap">Boniface Chacha</td>
                        <td th:text="${change.amount}" class="money">12,345,534</td>
                        <td th:text="${change.reason}" class="long-text">A verrry loong description</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>