<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>Budget</td>
                    <td th:text="${budget}">Budget XYZ</td>
                </tr>

                <tr>
                    <td>Role</td>
                    <td th:text="${role}">Role MPQ</td>
                </tr>

                <tr>
                    <td>Resource</td>
                    <td th:text="${resource}">Resource 123</td>
                </tr>
            </table>

        </div>

        <div class="col-xs-6">


            <table class="table table-condensed">
                <tr>
                    <td>Allocated</td>
                    <td th:with="allocationService=${applicationContext.getBean('allocationService')}"
                        th:text="${allocationService.calculateTotalAllocated(budget,role,resource)}">
                        12,345,678
                    </td>
                </tr>

                <tr>
                    <td>Actual</td>
                    <td th:with="expenseService=${applicationContext.getBean('expenseService')}"
                        th:text="${expenseService.calculateTotalBalance(budget,role,resource)}">
                        8,783,245
                    </td>
                </tr>

                <tr>
                    <td>Gross</td>
                    <td th:with="requisitionService=${applicationContext.getBean('requisitionService')}"
                        th:text="${requisitionService.calculateTotalGrossBalance(budget,role,resource)}">
                        5,674,789
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>