<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid"
     th:with="budgetService=${applicationContext.getBean('budgetService')},
     expenseService=${applicationContext.getBean('expenseService')},
     requisitionService=${applicationContext.getBean('requisitionService')}">


    <table class="table table-bordered table-responsive table-condensed" style="font-size: 11px;">
        <tr>
            <th>Title</th>
            <th>Cost Center</th>
            <th>Period</th>
            <th>Status</th>
            <th th:if="${budget.isApproved()}==false">Proposed</th>
            <th th:if="${budget.approved}==true">Allocated</th>
            <th th:if="${budget.approved}==true">Expenditure</th>
            <th th:if="${budget.approved}==true">Balance</th>
            <th th:if="${budget.approved}==true">Gross</th>
        </tr>

        <tr>
            <td th:text="${budget.title}">Budget XYZ</td>
            <td th:text="${budget.costCenter.name}">P&E Project</td>
            <td th:text="${budget.startDate}+' to '+${budget.endDate}">12-03-2016 TO 23-4-4018</td>
            <td th:text="${budgetService.getStatus(budget)}">Approved</td>
            <td th:if="${budget.isApproved()}==false"
                th:text="${budgetService.calculateTotalProposed(budget)}">32333
            </td>
            <td th:if="${budget.approved}==true"
                th:text="${budgetService.calculateTotalAllocation(budget)}">32333
            </td>
            <td th:if="${budget.approved}==true"
                th:text="${expenseService.calculateTotalExpenditure(budget)}">4433
            </td>
            <td th:if="${budget.approved}==true"
                th:text="${expenseService.calculateTotalBalance(budget)}+' | '+${expenseService.calculateBalancePercentage(budget,null,null)}">
                4426
            </td>
            <td th:if="${budget.approved}==true"
                th:text="${requisitionService.calculateTotalGrossBalance(budget)}">5678
            </td>
        </tr>
    </table>
</div>