<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid"
     th:with="budgetService=${applicationContext.getBean('budgetService')},
     expenseService=${applicationContext.getBean('expenseService')},
     requisitionService=${applicationContext.getBean('requisitionService')}">

    <div class="row">
        <div class="col-xs-12">
            <h2 th:text="${budget.title}">Budget XYZ</h2>
            <table class="table table-responsive table-bordered table-condensed">
                <tr>
                    <td width="150px">Cost Center</td>
                    <td th:text="${budget.costCenter.name}">P&E Project</td>
                </tr>
                <tr>
                    <td>Period</td>
                    <td th:text="${budget.startDate}+' - '+${budget.endDate}">12/3/2018 - 12/3/2019</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td th:text="${budgetService.getStatus(budget)}">Approved</td>
                </tr>
                <tr>
                    <td>Cost eg. PO Value</td>
                    <td th:text="${budget.cost}+' ('+${budget.cost.toWords()}+')'">12,234,909</td>
                </tr>

                <tr>
                    <td>Allocated Fund</td>
                    <td th:text="${budget.fund}+' ('+${budget.fund.toWords()}+')'">12,234,909</td>
                </tr>

            </table>

        </div>

        <div class="col-xs-12">
            <table class="">
                <tr>
                    <td>Can allow expenses even with less balance</td>
                    <td style="width: 100px;padding: 0px 10px;"><i class="fas fa-check-square"
                                                                   th:class="${budget.allowExpensesWithLessBalance}?'fas fa-check-square':'fas fa-window-close'"></i>
                    </td>
                </tr>
                <tr>
                    <td>Can allow requests even with less balance</td>
                    <td style="width: 100px;padding: 0px 10px;"><i class="fas fa-window-close"
                                                                   th:class="${budget.allowRequestWithLessBalance}?'fas fa-check-square':'fas fa-window-close'"></i>
                    </td>
                </tr>
                <tr>
                    <td>Can allow requests even with less gross balance</td>
                    <td style="width: 100px;padding: 0px 10px;"><i class="fas fa-window-close"
                                                                   th:class="${budget.allowRequestWithLessGrossBalance}?'fas fa-check-square':'fas fa-window-close'"></i>
                    </td>
                </tr>
                <tr>
                    <td>Can allow new request while similar is pending approval</td>
                    <td style="width: 100px;padding: 0px 10px;"><i class="fas fa-check-square"
                                                                   th:class="${budget.allowRequestWithSimilarPending}?'fas fa-check-square':'fas fa-window-close'"></i>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12">
            <ol>
                <th:block th:with="attachments=${budget.attachments}">
                    <div th:replace="core/_attachments::attachments">
                    </div>
                </th:block>
            </ol>
        </div>


        <div class="col-xs-12">
            <table class="table table-responsive table-condensed">
                <tr th:if="${budget.isApproved()}==false">
                    <td width="150px">Proposed</td>
                    <td th:text="${budgetService.calculateTotalProposed(budget)}">32333</td>
                </tr>
                <tr th:if="${budget.approved}==true">
                    <td width="150px">Allocated</td>
                    <td th:text="${budgetService.calculateTotalAllocation(budget)}">32333</td>
                </tr>
                <tr th:if="${budget.approved}==true">
                    <td>Expenditure</td>
                    <td th:text="${expenseService.calculateTotalExpenditure(budget)}">4433</td>
                </tr>
                <tr th:if="${budget.approved}==true">
                    <td>Actual Balance</td>
                    <td th:text="${expenseService.calculateTotalBalance(budget)}">4426</td>
                </tr>
                <tr th:if="${budget.approved}==true">
                    <td>Gross Balance</td>
                    <td th:text="${requisitionService.calculateTotalGrossBalance(budget)}">5678</td>
                </tr>
            </table>
        </div>
    </div>

</div>