<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="container"
     xmlns:th="http://www.thymeleaf.org">
    <h3>Expense</h3>
    <div th:fragment="expense">
        <div class="row">

            <div class="col-xs-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td th:text="${expense.id.toString()}">00000000005</td>
                    </tr>
                    <tr>
                        <td>Personnel</td>
                        <td th:text="${expense.associatedUser.name}">Boniface Chacha</td>
                    </tr>
                    <tr>
                        <td>Payee</td>
                        <td th:text="${expense.payment.associate}">Boniface Chacha</td>
                    </tr>
                    <tr>
                        <td>Paid Amount</td>
                        <td class="no-word-wrap">
                            <b th:text="${expense.paidAmount}">30000.00</b>
                        </td>
                    </tr>
                    <tr>
                        <td>Actual Amount</td>
                        <td th:text="${expense.actualAmount}">30000.00</td>
                    </tr>

                    <th:block th:if="${expense.hasRetirements()}">
                        <tr>
                            <td>Retired Amount</td>
                            <td th:text="${expense.getTotalRetirement()}"></td>
                        </tr>
                        <tr>
                            <td>Retired Difference</td>
                            <td th:text="${expense.getRetiredDifference()}"></td>
                        </tr>
                        <tr>
                            <td>Settled Amount</td>
                            <td th:text="${expense.getTotalSettlement()}"></td>
                        </tr>
                    </th:block>
                    <tr>
                        <td>Payment</td>
                        <td th:text="${expense.payment.method}">Cash</td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td th:text="${expense.payment.reference}"></td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td th:text="${expense.payment.time}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">

                <table class="table table-bottom-bordered">
                    <tbody>
                    <tr>
                        <td>Project</td>
                        <td>
                            <b th:text="${expense.budget.title}">Project XYZ</b>
                        </td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td th:text="${expense.role}">P&amp;E Project Admin</td>
                    </tr>
                    <tr>
                        <td>Resource</td>
                        <td th:text="${expense.resource}">Transport</td>
                    </tr>
                    <tr>
                        <td>Consumer</td>
                        <td th:text="${expense.consumer}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <th:block th:with="attachments=${expense.payment.attachments}">
                        <div th:replace="core/_attachments::attachments">
                        </div>
                    </th:block>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <span class="long-text" th:text="${expense.payment.description}">30000 for Transport by P&amp;E Project Admin</span>
            </div>
            <div class="col-xs-12">
                <th:block th:with="creator=${expense.payment.creator},time=${expense.payment.timeCreated}">
                    <div th:replace="core/_creator::creator">Boniface Chacha</div>
                </th:block>
            </div>
        </div>
        <hr/>
        <th:block th:if="${expense.hasRetirements()}">
            <div class="row" th:fragment="retirements">

                <div class="col-xs-12">
                    <h3>Retirements</h3>
                    <table class="table table-bordered table-condensed">
                        <th:block th:each="entry:${expense.retirementEntries}">
                            <tr>
                                <td th:text="${entry.id}">123</td>
                                <td th:text="${entry.timeCreated}" class="no-word-wrap">123</td>
                                <td th:text="${entry.description}" class="long-text">Some description</td>
                                <td class="no-word-wrap"><b th:text="${entry.amount}">2,000,000 TZS</b></td>
                                <td>
                                    <th:block th:with="attachments=${entry.attachments}">
                                        <div th:replace="core/_attachments::attachments"></div>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </th:block>
        <th:block
                th:with="requisitionService=${applicationContext.getBean('requisitionService')},req=${requisitionService.findRequisition(expense)}">
            <div th:if="${req.isPresent()}"
                 th:with="requisition=${req.get()}">
                <div th:fragment="requisition">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Requisition</h3>

                            <table class="table table-bordered">
                                <tr>
                                    <td>Approved Amount</td>
                                    <td>
                                        <b th:text="${requisition.approvedAmount}">2321443543</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Requested Amount</td>
                                    <td th:text="${requisition.requestedAmount}">2321443543</td>
                                </tr>

                                <tr>
                                    <td>Paid</td>
                                    <td th:text="${requisition.getPaidAmount()}">343535</td>
                                </tr>
                            </table>

                            <span>
                          <i class="long-text" th:text="${requisition.description}">30000 for Transport by P&amp;E Project Admin</i>
                    </span>
                            <br/><br/>
                            <dl class="dl-horizontal">
                                <dt>By</dt>
                                <dd th:text="${requisition.creator.name}"> Thomas Mrimi</dd>
                                <dt>Time</dt>
                                <dd th:text="${requisition.timeCreated}">21-11-2017 13:26:03</dd>
                            </dl>

                        </div>
                        <div class="col-xs-6">
                            <th:block th:with="attachments=${requisition.attachments}">
                                <div th:replace="core/_attachments::attachments">
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>


    </div>
</div>
