<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid">

    <div class="col-xs-12">
        <table class="table table-condensed">
            <tr>
                <td>Balance</td>
                <td>
                    <b th:text="${batch.balance}">
                        5,674,789 KG
                    </b>
                </td>
            </tr>

            <tr>
                <td>Store</td>
                <td th:text="${batch.store}">
                    MAIN STORE
                </td>
            </tr>

            <tr>
                <td>Item</td>
                <td th:text="${batch.item}">
                    Filter XYZ
                </td>
            </tr>

            <tr>
                <td>Batch</td>
                <td th:text="${batch.code}">
                    ABCDF
                </td>
            </tr>
            <tr>
                <td>ExpiryDate</td>
                <td th:text="${batch.expiryDate}">
                    12-02-2020
                </td>
            </tr>
        </table>

    </div>
</div>
</div>