<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td class="text-muted">Time</td>
                    <td th:text="${time}" class="no-word-wrap">12-2-2020 03:45</td>
                </tr>

                <tr>
                    <td class="text-muted">Store</td>
                    <td th:text="${store}">Store XYZ</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="col-xs-2">Item</th>
                    <th class="col-xs-8">Batches</th>
                    <th class="col-xs-1">Total</th>
                </tr>

                <th:block th:each="deposit:${deposits}">
                    <tr>
                        <td><b th:text="${deposit.item}" class="long-text">Item 1</b></td>
                        <td>
                            <table class="table table-condensed">

                                <th:block th:each="batch:${deposit.batches}">
                                    <tr>
                                        <td th:text="${batch.batchCode}"
                                            class="no-word-wrap col-xs-1">Batch XYZ</td>
                                        <td class="col-xs-1"><b th:text="${batch.quantity}">23</b></td>
                                        <td th:text="${batch.unitBuyingPrice}"
                                            class="no-word-wrap col-xs-2">1,234,1234</td>
                                        <td class="col-xs-2">
                                            <b th:text="${batch.expiryDate}"
                                               class="no-word-wrap">23-02-2020</b>
                                        </td>
                                        <td th:text="${batch.notes}"
                                            class="long-text col-xs-6">Some notes here</td>
                                    </tr>
                                </th:block>


                            </table>
                        </td>
                        <td><b th:text="${deposit.getTotalQuantity()}" class="no-word-wrap">456</b></td>
                    </tr>
                </th:block>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-muted">Submitted By</i></h3>
            <h4 th:text="${creator}" class="no-word-wrap">Marwa Chacha</h4>
        </div>
    </div>
</div>