<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td class="text-muted">Time</td>
                    <td th:text="${time}" class="no-word-wrap">12-2-2020 03:45</td>
                </tr>

                <tr>
                    <td class="text-muted">Store</td>
                    <td th:text="${store}">Store XYZ</td>
                </tr>

                <tr>
                    <td class="text-muted">Received By</td>
                    <td th:text="${associated}">Boniface Chacha</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="col-xs-3 long-text">Item</th>
                    <th class="col-xs-8">Batches</th>
                    <th class="col-xs-1">Total</th>
                </tr>

                <th:block th:each="dispense:${dispenses}">
                    <tr>
                        <td><b th:text="${dispense.item}">Item 1</b></td>
                        <td>
                            <table class="table table-condensed">

                                <th:block th:each="batch:${dispense.batches}">
                                    <tr>
                                        <td th:text="${batch.batchCode}"
                                            class="col-xs-2">Batch XYZ
                                        </td>
                                        <td><b th:text="${batch.quantity}"
                                               class="col-xs-2 no-word-wrap">23</b></td>
                                        <td th:text="${batch.notes}"
                                            class="col-xs-8">Some notes here
                                        </td>
                                    </tr>
                                </th:block>


                            </table>
                        </td>
                        <td><b th:text="${dispense.getTotalQuantity()}" class="no-word-wrap">456</b></td>
                    </tr>
                </th:block>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-muted">Submitted By</i></h3>
            <h4 th:text="${creator}">Marwa Chacha</h4>
        </div>
    </div>
</div>