<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

<!-- Important: you'll only need one of the Bootcards CSS files below for every platform -->

<!-- Bootcards CSS for iOS: -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-ios.min.css">

<!-- Bootcards CSS for Android: -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-android.min.css">

<!-- Bootcards CSS for desktop: -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">

<!-- Bootstrap and Bootcards JS -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
<style>
    body {
        padding-top: 0.2em;
    }

    .quant {
        font-size: 60px;
    }

    .all-left-component {
        padding-left: 1%;
    }

    .container {
        height: auto;
    }

    .panel {
        background-color: transparent;
        border: 0;
    }
</style>

<div class="container-fluid" xmlns:th="http://www.thymeleaf.org"
     th:with="itemRequisitionService=${applicationContext.getBean('itemRequisitionService')}">
    <div class="row">
        <div class="col-md-offset-0 col-md-12">
            <div class="panel panel-default bootcards-file">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                                <th width="20%">Role</th>
                                <td>Manager</td>
                            </tr>
                            <tr>
                                <th width="20%">Cost center</th>
                                <td>Project</td>
                            </tr>
                            <tr>
                                <th width="20%">Consumer</th>
                                <td>KISUTU</td>
                            </tr>
                            <tr>
                                <th width="20%">Status</th>
                                <td>Approved</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <ol>
                                <th:block th:each="attachment:${itemRequisition.attachments}">
                                    <li>
                                        <a th:href="'/attachment/'+${attachment.id}"
                                           th:text="${attachment.name}"
                                           target="_blank">Scan_AUTHROZATION LETTER.pdf</a>
                                    </li>
                                </th:block>
                            </ol>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p class="long-text" th:text="${itemRequisition.notes}">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large.
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large.
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <th:block th:with="creator=${itemRequisition.creator},time=${itemRequisition.timeCreated}">
                            <div th:replace="core/_creator::creator"></div>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style=" padding-left: 5%">
                        <strong>Requested Quantity</strong>
                    </div>
                    <div class=" col-md-4">
                        <strong>Approved Quantity</strong>
                    </div>
                    <th:block th:if="${itemRequisition.isApproved()}">
                        <div class=" col-md-4">
                            <strong>Dispensed Quantity</strong>
                        </div>

                    </th:block>
                </div>
                <div class="row">
                    <div class="col-md-4" style="padding-left: 5%">
                        <strong style="color: #2d55cd; " class="quant"
                                th:text="${itemRequisition.requestedQty.quantity}">20</strong>
                        <strong th:text="${itemRequisition.requestedQty.unit}">Meters</strong>

                    </div>
                    <div class=" col-md-4">
                        <strong style="color: #1b6514;" class="quant" th:text="${itemRequisition.approvedQty.quantity}">15</strong>
                        <strong th:text="${itemRequisition.approvedQty.unit}">Meters</strong>

                    </div>
                    <th:block th:if="${itemRequisition.isApproved()}">
                        <div class=" col-md-4">
                            <strong style="color: #2c3a52;" class="quant"
                                    th:text="${itemRequisition.dispensedQty.quantity}">5</strong>
                            <strong th:text="${itemRequisition.dispensedQty.unit}">Meters</strong>
                        </div>

                    </th:block>
                </div>

            </div>
        </div>
    </div>
</div>
</div>