<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          xmlns="http://www.w3.org/1999/html">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="themes.css">  -->
    <style>
        .block {
            text-align: left;
            vertical-align: middle;
        }

        .circle {
            border-style: solid;
            background: transparent;
            border-radius: 600px;
            border-color: #385998;
            color: #385998;
            height: 100px;
            font-weight: bold;
            width: 100px;
            display: table;
            margin: 20px auto;
        }

        .hint {
            font-weight: bold;
            font-size: 30px;
            color: #385998;
        }

        .circle p {
            vertical-align: middle;
            display: table-cell;
        }

        .container {
            background-color: transparent;
        }

        .card, container, card-body {
            background-color: transparent !important;

        }

        .label {
            color: #898989;
            font-size: 20px;
        }

        .unit {
            font-size: 12px;
        }
    </style>
</head>
<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:with="itemService=${applicationContext.getBean('itemService')}">
    <div class="card ">
        <div class="card-body">

            <h2 class="card-title w-100" th:text="${item.name}">Battery</h2>
            <h4 class="card-subtitle mb-2 text-muted"><span><simple th:text="${item.code}">001</simple></span> |
                <span><simple th:text="${item.baseUnit}">kilogram</simple></span> |
                <simple th:text="${item.getCategory()}">Inventory consumables</simple>
                </span></h4>
            <hr>
            </hr>
            <p class="card-text" th:text="${item.description}">Some quick example text for the item description. it may
                be some long long text</p>

            <div class="row">
                <div class="col-md-12 block">
                    <strong class="hint text-left" th:text="${itemService.calculateStockBalance(item)}">200 </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block">
                    <p class="label">
                        Balance
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 block">
                    <strong class="hint text-left"
                            th:text="${itemService.calculateBaseUnitBuyingPrice(item)}">10,000 </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block">
                    <p class="label">
                        Unit price
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 block">
                    <strong class="hint text-left"
                            th:text="${itemService.calculateStockValue(item)}">1,000,000 </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 block">
                    <p class="label">
                        Total value
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>
