<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div xmlns:th="http://www.thymeleaf.org"
     class="expense container-fluid">

    <div class="row">

        <div class="col-lg-6 col">

            <th:block th:with="employee=${contract.employee}">
                <div th:replace="hr/_employee::basics">
                    <span>Employee Basics</span>
                </div>
            </th:block>

        </div>

        <div class="col col-lg-6  align-self-end">
            <h3 th:text="${contract.getType()}">Salary</h3>
            <table class="table  table-sm  table-bordered">
                <tr>
                    <th>Status</th>
                    <td th:text="${contract.getStatus()}">Active</td>
                </tr>
                <tr>
                    <th>Period</th>
                    <td th:text="${contract.periodType}">Monthly</td>
                </tr>
                <tr>
                    <th>Start</th>
                    <td th:text="${contract.startDate}">11/2/2017</td>
                </tr>
                <tr>
                    <th>End</th>
                    <td th:text="${contract.endDate}">11/2/2017</td>
                </tr>
                <tr>
                    <th>Basic</th>
                    <td th:text="${contract.basicRate}">650,000 TZS</td>
                </tr>
                <tr>
                    <th>Bank</th>
                    <td  th:text="${contract?.bank?.name}">CRDB</td>
                </tr>
                <tr>
                    <th>Account</th>
                    <td th:text="${contract?.bankAccount}">1234567890</td>
                </tr>
            </table>
        </div>


    </div>

    <div class="row">
        <div class="col col-lg-3" th:if="${contract.recurringIncomes}">
            <h3>Recc. Incomes</h3>
            <ol>
                <th:block th:each="income:${contract.recurringIncomes}">
                    <li th:text="${income.income.name}">Transport</li>
                </th:block>
            </ol>
        </div>

        <div class="col col-lg-3" th:if="${contract.recurringDeductions}">
            <h3>Recc. Deductions</h3>
            <ol>
                <th:block th:each="deduction:${contract.recurringDeductions}">
                    <li th:text="${deduction.deduction.name}">PAYE</li>
                </th:block>
            </ol>
        </div>

        <div class="col col-lg-6">
            <th:block th:with="attachments=${contract.attachments}">
                <div th:replace="core/_attachments::attachments">
                    <span>Attachments</span>
                </div>
            </th:block>
        </div>
    </div>

</div>