<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div xmlns:th="http://www.thymeleaf.org"
     class="expense container-fluid"
     th:with="incomeService=${applicationContext.getBean('incomeService')},deductionService=${applicationContext.getBean('deductionService')}">

    <div class="row">
        <div class="col-auto col-md-6 col-lg-4">
            <th:block th:with="employee=${pay.contract.employee}">
                <div th:replace="hr/_employee::picture">
                    <span>Employee Basics</span>
                </div>
            </th:block>
        </div>
        <!--<div class="w-100"></div>-->
        <div class="col col-md-6 col-lg-4">
            <table class="table  table-sm  table-bordered">
                <tr>
                    <th>Period</th>
                    <td th:text="${pay.payroll.period}">JAN</td>
                </tr>
                <tr>
                    <th>Basic</th>
                    <td th:text="${pay.basicAmount}">2,000,0000 TZS</td>
                </tr>
                <tr>
                    <th>Other Income</th>
                    <td th:text="${pay.calculateTotalOtherIncome()}">760,000 TZS</td>
                </tr>
                <tr>
                    <th>Gross Amount</th>
                    <td th:text="${pay.calculateGrossIncome()}">120,000 TZS</td>
                </tr>
                <tr>
                    <th>Total Deduction</th>
                    <td th:text="${pay.calculateTotalEmployeeContribution()}">550,000 TZS</td>
                </tr>
                <tr class="table-info">
                    <th>NET</th>
                    <td th:text="${pay.calculateNetIncome()}">650,000 TZS</td>
                </tr>
                <tr>
                    <th>Reference</th>
                    <td th:text="${pay.id}">1234</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">

        <div class="col col-md-6 col-lg-4">
            <h3>INCOME</h3>
            <hr/>
            <table class="table table-sm  table-bordered align-self-end align-bottom mt-auto">
                <tr>
                    <th>Income</th>
                    <th>Recurring</th>
                    <th>Submitted
                    </td>
                    <th>Sub Total
                    </td>
                </tr>
                <th:block th:each="income:${pay.incomes}">
                    <tr>
                        <th th:text="${income.income.name}">House</th>
                        <td th:text="${income.recurringAmount}">1,230,0000 TZS</td>
                        <td th:text="${income.submittedAmount}">5,280,0000 TZS</td>
                        <td th:text="${income.getTotalAmount()}">2,000,0000 TZS</td>
                    </tr>
                </th:block>
                <tr class="table-info">
                    <th colspan="3" class="text-right">Total</th>
                    <td th:text="${pay.calculateTotalOtherIncome()}">2,000,0000 TZS</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <h3>DEDUCTION</h3>
            <hr/>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col col-md-6 col-lg-4 align-self-end">
                    <h4>Employee Contribution</h4>
                    <table class="table  table-sm  table-bordered">
                        <tr>
                            <th>Deduction</th>
                            <th>Recurring</th>
                            <th>Submitted</th>
                            <th>Sub Total</th>
                        </tr>
                        <th:block th:each="deduction:${pay.deductions}">
                            <tr>
                                <th th:text="${deduction.deduction.name}">PAYE</th>
                                <td th:text="${deduction.recurringEmployeeContrAmount}">2,000,0000 TZS</td>
                                <td th:text="${deduction.submittedEmployeeContrAmount}">1,000,0000 TZS</td>
                                <td th:text="${deduction.getTotalEmployeeContribution()}">3,000,0000 TZS</td>
                            </tr>
                        </th:block>
                        <tr class="table-info">
                            <th colspan="3" class="text-right">Total</th>
                            <td th:text="${pay.calculateTotalEmployeeContribution()}">2,000,0000 TZS</td>
                        </tr>
                    </table>
                </div>


                <div class="col col-md-6 col-lg-4 align-self-end">
                    <h4>Employer Contribution</h4>
                    <table class="table  table-sm  table-bordered">
                        <tr>
                            <th>Deduction</th>
                            <th>Recurring</th>
                            <th>Submitted</th>
                            <th>Sub Total</th>
                        </tr>
                        <th:block th:each="deduction:${pay.deductions}">

                            <tr>
                                <th th:text="${deduction.deduction.name}">PAYE</th>
                                <td th:text="${deduction.recurringEmployerContrAmount}">2,000,0000 TZS</td>
                                <td th:text="${deduction.submittedEmployerContrAmount}">1,000,0000 TZS</td>
                                <td th:text="${deduction.getTotalEmployerContribution()}">2,000,0000 TZS</td>
                            </tr>
                        </th:block>
                        <tr class="table-info">
                            <th colspan="3" class="text-right">Total</th>
                            <td th:text="${pay.calculateTotalEmployerContribution()}">2,000,0000 TZS</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <th:block th:with="submittedIncomes=${incomeService.findProcessedIncomes(pay)}">

            <div class="col-12" th:if="${not #lists.isEmpty(submittedIncomes)}">
                <h3 class="mt-20">SUBMITTED INCOME ENTRIES</h3>
                <table class="table table-auto">
                    <tr>
                        <th>Reference</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Calculated Amount</th>
                        <th>Description</th>
                        <th>Attachments</th>
                        <th>Posted by</th>
                    </tr>

                    <th:block th:each="income:${submittedIncomes}">
                        <tr>
                            <td th:text="${income.id}">123</td>
                            <td th:text="${income.date}">12/03/2018</td>
                            <td th:text="${income.income.name}">Birthday Gift</td>
                            <td th:text="${income.calculatedAmount}" class="text-right">173,090 TZS</td>
                            <td th:text="${income.description}">In 1952, Bouvier met then-Congressman Catholic to serve as First Lady.[4]</td>
                            <td>
                                <th:block th:with="attachments=${income.attachments}">
                                    <div th:replace="core/_attachments::attachments">
                                        <span>Attachments</span>
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${income.creator}">Boniface Chacha</td>
                        </tr>
                    </th:block>
                </table>
            </div>

        </th:block>
        <th:block th:with="submittedDeductions=${deductionService.findProcessedDeductions(pay)}">

            <div class="col-12" th:if="${not #lists.isEmpty(submittedDeductions)}">
                <h3 class="mt-20">SUBMITTED DEDUCTION ENTRIES</h3>
                <table class="table table-auto">
                    <tr>
                        <th>Reference</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Employee Contribution</th>
                        <th>Employer Contribution</th>
                        <th>Description</th>
                        <th>Attachments</th>
                        <th>Posted by</th>
                    </tr>
                    <th:block th:each="deduction:${submittedDeductions}">
                        <tr>
                            <td th:text="${deduction.id}">123</td>
                            <td th:text="${deduction.date}">12/03/2018</td>
                            <td th:text="${deduction.deduction.name}">Birthday Gift</td>
                            <td th:text="${deduction.calculatedEmployeeContrAmount}"  class="text-right">173,090 TZS</td>
                            <td th:text="${deduction.calculatedEmployerContrAmount}"  class="text-right">423,090 TZS</td>
                            <td th:text="${deduction.description}">In 1952, Bouvier met then-Congressman Catholic to serve as First Lady.[4]</td>
                            <td>
                                <th:block th:with="attachments=${deduction.attachments}">
                                    <div th:replace="core/_attachments::attachments">
                                        <span>Attachments</span>
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${deduction.creator}">Boniface Chacha</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </th:block>
    </div>
</div>