<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div xmlns:th="http://www.thymeleaf.org"
     class="expense container-fluid"
     th:with="contractService=${applicationContext.getBean('contractService')}">

    <div class="row">

        <div class="col-lg-6 col">
            <div th:fragment="basics">

                <div th:fragment="picture">
                    <th:block
                            th:with="picture=${employee.picture}, width=150,height=150,classes='align-self-center mr-3 img-thumbnail img-rounded'">
                        <div th:replace="core/_picture::picture">
                            <img width="150px" height="150px" src="http://via.placeholder.com/70x70"
                                 class="align-self-center mr-3 img-thumbnail img-rounded"/>
                        </div>
                    </th:block>

                    <h2 class="card-title" th:text="${employee.getName()}">Boniface Chacha</h2>
                </div>

                <table class="table table-sm table-bordered">
                    <tr>
                        <th>Age</th>
                        <td th:text="${employee.getAge()}">33</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td th:text="${employee.gender}">Male</td>
                    </tr>

                    <tr>
                        <th>Marital</th>
                        <td th:text="${employee.maritalStatus}">Single</td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td th:text="${employee.birthDate}">05/06/2018</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${employee?.contact?.email}">bonifacechacha@gmail.com</td>
                    </tr>

                    <tr>
                        <th>Phone</th>
                        <td th:text="${employee?.contact?.phone}">+255717050609</td>
                    </tr>
                    <tr>
                        <th>Authentication</th>
                        <td th:text="${employee?.associatedUser?.username}" class="text-muted">bonifacechacha</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td th:text="${employee?.contact?.address}">Plot 423, Mazinde St, Mikocheni B Kinondoni, Dar es
                            Salaam
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <th:block th:with="contracts=${contractService.findContracts(employee)}">
        <div class="row" th:if="${contracts}">
            <h3>Contracts</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Period</th>
                    <th>Type</th>
                    <th>Basic</th>
                    <th>Bank</th>
                    <th>Account</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="contract:${contracts}">
                    <tr>
                        <td th:text="${contract.startDate}">12/3/2018</td>
                        <td th:text="${contract.endDate}">12/3/2018</td>
                        <td th:text="${contract.periodType}">Monthly</td>
                        <td th:text="${contract.getType()}">Salary</td>
                        <td th:text="${contract.basicRate}">1,200,000</td>
                        <td th:text="${contract?.bank?.name}">CRDB</td>
                        <td th:text="${contract.bankAccount}">12435674595885</td>
                        <td th:text="${contract.getStatus()}">Active</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </th:block>

</div>