<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/document}">
<head>
    <title>Payment Voucher</title>
</head>
<body>
<section layout:fragment="destination"></section>
<div class="row"
     layout:fragment="mainBody">
    <div class="col-xs-12">
        <div class="row top10">
            <h3 class="text-center">Payment Voucher</h3>
            <div class="col-xs-6">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td class="caption" width="20%">Reference</td>
                        <td th:text="'000'+${payment.id}">1234</td>
                    </tr>
                    <tr>
                        <td class="caption" width="20%">Date</td>
                        <td th:text="${#temporals.format(payment.time,'dd/MMM/yyyy HH:mm')}">1234</td>
                    </tr>
                    <tr>
                        <td class="caption" width="20%">Payee</td>
                        <td th:text="${payment.associate}">Boniface Chacha</td>
                    </tr>
                    <tr>
                        <td class="caption">Payment</td>
                        <td th:text="${payment.method}">Cash</td>
                    </tr>
                    <tr>
                        <td class="caption">Amount</td>
                        <td th:text="${payment.amount.toWords()}"> Fifty Seven Thousand</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 top5">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Item</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>
                    <span class="long-text"
                          th:text="${payment.description}">57000 for Transport by P&amp;E Project Admin</span>
                    <br/>
                    <i class="long-text"
                       th:if="${requisition}"
                       th:text="${requisition.description}">This is the description of the associated requisition</i>
                </td>
                <td class="money" th:text="${payment.amount}">57,000.00</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td class="caption">Prepared by</td>
                        <td th:text="${payment.creator}">Thomas Mrimi</td>
                    </tr>
                    <tr>
                        <td class="caption">Sign</td>
                        <td>.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td class="caption">Authorised by</td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <td class="caption">Sign</td>
                        <td>.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td class="caption">Received by</td>
                <td>.</td>
            </tr>
            <tr>
                <td class="caption">Sign</td>
                <td>.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>