<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<div xmlns:th="http://www.thymeleaf.org" style="width: 100%;padding: 5px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-circle"
                             th:src="'VAADIN/themes/dimension/img/profile-pic-300px.jpg'"
                             src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4"
                             style="width:40px; height: 40px;"
                             data-holder-rendered="true">
                    </div>
                    <div class="media-body">
                        <strong th:class="${issue.isResolved()?'text-success':'text-warning'} +' media-heading'"
                                class="text-primary media-heading"
                                th:text="${issue.creator}+ ' | '">
                            Boniface Chacha | 12/2/2015
                        </strong>
                        <small class="text-muted"
                               th:text="${#temporals.format(issue.timeCreated, 'dd MMMM yyyy HH:mm')}">12th December
                            2017
                        </small>

                        <p th:with="contentLength=${issue.content.length()>100?100:issue.content.length()}"
                           th:text="${#strings.substring(issue.content,0,contentLength)}+' ...'" class="long-text">
                            If you have a bug or an idea, read the contributing guidelines before opening an issue
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>